# ── Discord ──────────────────────────────────
DISCORD_TOKEN=
DEV_GUILD_ID=

# ── MongoDB ──────────────────────────────────
MONGO_APP_URI=mongodb://localhost:27017/taverna-app
MONGO_LOGS_URI=mongodb://localhost:27017/taverna-logs

# ── RabbitMQ ─────────────────────────────────
RABBITMQ_URL=amqp://localhost:5672

# ── Redis ────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ── Application ──────────────────────────────
APPLICATION_NAME=